<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <father></father>
    </div>




    
    <script src="vue.js"></script>
    <script>
        Vue.component('fruitlist',{
            props:['myfruits'],
            template:`
                <ul>
                    <li v-for="fruit,index in myfruits">
                    {{fruit}}
                    <span v-on:click="del(index)">删除</span>
                    </li>
                </ul>
            `,
            methods:{
                del:function(index){
                    this.$emit('mydel',index)
                }
            }
        })

        Vue.component('father',{
            template:`
            <div>
                <input v-model="newFruit" type="text">
                <button v-on:click="insert">添加</button>
                <fruitlist v-on:mydel="mydelete" v-bind:myfruits="fruits"></fruitlist>
            </div>
            `,
            data:function(){
                return {
                    fruits:['香蕉','苹果','鸭梨','芒果','草莓'],
                    newFruit:''
                }
            },
            methods:{
                insert:function(){
                    this.fruits.push(this.newFruit);
                },
                mydelete:function(index){
                    this.fruits.splice(index,1);
                }
            }
        })

        new Vue({
            el:'#app'
        })
    </script>
</body>
</html>