<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title #{title}
body
    h1 我是首页（pug）
    ul
        li
            a(href="/video") 视频
        li
            a(href="/image") 图片
        li
            a(href="/movie") 电影
        li
            a(href="/list") 水果列表

    block content